* {
  margin: 0;
  box-sizing: border-box;
}
#top-container {
min-height:100px;
height:auto;

}

body {
	font-family: Arial, Helvetica, sans-serif;
background-color: black;
}

.logo{
height:100px;
padding:5px;
text-align:center;
float:left; 
position: sticky;
top: 0;
z-index: 1;
position: fixed;
top: 0;
width: 100%;
margin: 20px;
display: flex;
justify-content: space-between;
transition-timing-function: ease-in;
transition: all 0.5s;  
}

h2{
font-size: 5px;
}

h3{
margin: 20 px;
}
b{
margin: 5 px;
}
.top-container {
  width: 100%;
  height: 120px;
  background-color: #333;
  font-family: "Times New Roman", Times, serif;
  font-size: 32px;
    word-spacing: 30px;
	white-space: nowrap;

}
	.item {
  display: inline-block;
}
.menu{
height:100px;
line-height:100px;
text-align:center;
float: middle;
border-left: solid 1px red;
position: sticky;
margin: 20px;
top: 0;
z-index: 1;
position: fixed;
top: 0;
width: 100%;
display: flex;
justify-content: space-between;
transition-timing-function: ease-in;
transition: all 0.5s;
}
.menu a{
color:#FF6600;
text-decoration:none;
margin: 0 -.25rem;
padding:  0 -.25rem;
transition: color 1s ease-in-out, box-shadow .3s ease-in-out;

}
#slider-container {
height:400px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
color: #666666;
margin: 20px
}
#content-container {
height:300px;
margin:10px;
padding:10px;
font-size:10px;
}
.row__poster {
  width: 100%;
  object-fit: contain;
  margin-right: 10px;
  transition: transform 450ms;
}

.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
  margin:20px;
  max-height: 400px;
  margin-top:20px;
  margin-bottom:20px;
}

.row__poster:hover {
  transform: scale(1.08);

}

.row__posters::-webkit-scrollbar {
  display: none;
}

.row__posterLarge {
  max-height: 250px;
}

.row__posterLarge:hover {
  transform: scale(1.09);
}

.row {
  color: white;
  margin-left: 20px;
}



.banner__title {
  color : #FD740F;
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}

.banner__description {
  color : #FD740F;
  width: 45rem;
  line-height: 1.3;
  padding-top: 5px;
  font-size: 15px;
  max-width: 300px;
  height: 180px;
}

.banner__button {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: rgba(51, 51, 51, 0.5);
}

.banner__button:hover {
  color: #000;
  background-color: #2F3A37;
  transition: all 0.2s;
}

.banner--fadeBottom {
  margin-top: 145px;
  height: 7.4rem;
  background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61), #111);
}


.nav__logo {
  width: 100px;
  object-fit: contain;
}

.nav__avatar {
  width: 30px;
  object-fit: contain;
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  z-index: 1;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav__black {
  background-color: #111;
}
.fcf-body {
    margin: 0;
    font-family: -apple-system, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    text-align: left;
    background-color: #000000;
    padding: 30px;
    padding-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    max-width: 100%;
}

.fcf-form-group {
    margin-bottom: 1rem;
}

.fcf-input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.fcf-form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #FF6600;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    outline: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.fcf-form-control:focus {
    border: 1px solid #313131;
}

select.fcf-form-control[size], select.fcf-form-control[multiple] {
    height: auto;
}

textarea.fcf-form-control {
    font-family: -apple-system, Arial, sans-serif;
    height: auto;
}

label.fcf-label {
    display: inline-block;
    margin-bottom: 0.5rem;
	color: #FF6600;
}

.fcf-credit {
    padding-top: 10px;
    font-size: 0.9rem;
    color: #545b62;
}

.fcf-credit a {
    color: #545b62;
    text-decoration: underline;
}

.fcf-credit a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.fcf-btn {
    display: inline-block;
    font-weight: 400;
    color: #000000;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .fcf-btn {
        transition: none;
    }
}

.fcf-btn:hover {
    color: #000000;
    text-decoration: none;
}

.fcf-btn:focus, .fcf-btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.fcf-btn-primary {
    color: #000000;
    background-color: #FF6600;
    border-color: #FF6600;
}

.fcf-btn-primary:hover {
    color: #000000;
    background-color: #0069d9;
    border-color: #FF6600
;
}

.fcf-btn-primary:focus, .fcf-btn-primary.focus {
    color: #000000;
    background-color: #0069d9;
    border-color: ##000000
;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.fcf-btn-lg, .fcf-btn-group-lg>.fcf-btn {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}

.fcf-btn-block {
    display: block;
    width: 100%;
}

.fcf-btn-block+.fcf-btn-block {
    margin-top: 0.5rem;
}

input[type="submit"].fcf-btn-block, input[type="reset"].fcf-btn-block, input[type="button"].fcf-btn-block {
    width: 100%;
}
